<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="CG_Rebar">
      <!-- Legacy Rebar Shapes (.NET 4.8 / Revit 2020-2024) -->
      <Component Id="C_RebarShapesLegacy" Directory="LEGACYREBARFOLDER" Guid="{E5F6A7B8-C9D0-4E1F-A2B3-C4D5E6F7A8B9}">
        <File Id="F_Leg_Rebar_JP_T00_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T00.rfa" />
        <File Id="F_Leg_Rebar_JP_T02_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T02.rfa" />
        <File Id="F_Leg_Rebar_JP_T03_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T03.rfa" />
        <File Id="F_Leg_Rebar_JP_T04_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T04.rfa" />
        <File Id="F_Leg_Rebar_JP_T05_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T05.rfa" />
        <File Id="F_Leg_Rebar_JP_T06_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T06.rfa" />
        <File Id="F_Leg_Rebar_JP_T07_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T07.rfa" />
        <File Id="F_Leg_Rebar_JP_T11_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T11.rfa" />
        <File Id="F_Leg_Rebar_JP_T11a_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T11a.rfa" />
        <File Id="F_Leg_Rebar_JP_T12_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T12.rfa" />
        <File Id="F_Leg_Rebar_JP_T13_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T13.rfa" />
        <File Id="F_Leg_Rebar_JP_T14_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T14.rfa" />
        <File Id="F_Leg_Rebar_JP_T15_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T15.rfa" />
        <File Id="F_Leg_Rebar_JP_T16_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T16.rfa" />
        <File Id="F_Leg_Rebar_JP_T17_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T17.rfa" />
        <File Id="F_Leg_Rebar_JP_T20_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T20.rfa" />
        <File Id="F_Leg_Rebar_JP_T21_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T21.rfa" />
        <File Id="F_Leg_Rebar_JP_T22_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T22.rfa" />
        <File Id="F_Leg_Rebar_JP_T23_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T23.rfa" />
        <File Id="F_Leg_Rebar_JP_T24_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T24.rfa" />
        <File Id="F_Leg_Rebar_JP_T25_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T25.rfa" />
        <File Id="F_Leg_Rebar_JP_T26_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T26.rfa" />
        <File Id="F_Leg_Rebar_JP_T27_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T27.rfa" />
        <File Id="F_Leg_Rebar_JP_T28_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T28.rfa" />
        <File Id="F_Leg_Rebar_JP_T29_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T29.rfa" />
        <File Id="F_Leg_Rebar_JP_T31_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T31.rfa" />
        <File Id="F_Leg_Rebar_JP_T32_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T32.rfa" />
        <File Id="F_Leg_Rebar_JP_T34_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T34.rfa" />
        <File Id="F_Leg_Rebar_JP_T35_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T35.rfa" />
        <File Id="F_Leg_Rebar_JP_T36_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T36.rfa" />
        <File Id="F_Leg_Rebar_JP_T38_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T38.rfa" />
        <File Id="F_Leg_Rebar_JP_T41_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T41.rfa" />
        <File Id="F_Leg_Rebar_JP_T44_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T44.rfa" />
        <File Id="F_Leg_Rebar_JP_T46_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T46.rfa" />
        <File Id="F_Leg_Rebar_JP_T47_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T47.rfa" />
        <File Id="F_Leg_Rebar_JP_T48_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T48.rfa" />
        <File Id="F_Leg_Rebar_JP_T49_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T49.rfa" />
        <File Id="F_Leg_Rebar_JP_T51_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T51.rfa" />
        <File Id="F_Leg_Rebar_JP_T63_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T63.rfa" />
        <File Id="F_Leg_Rebar_JP_T67_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T67.rfa" />
        <File Id="F_Leg_Rebar_JP_T68_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T68.rfa" />
        <File Id="F_Leg_Rebar_JP_T75_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T75.rfa" />
        <File Id="F_Leg_Rebar_JP_T80_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T80.rfa" />
      </Component>

      <!-- Modern Rebar Shapes (.NET 8.0 / Revit 2025-2028) -->
      <Component Id="C_RebarShapesModern" Directory="MODERNREBARFOLDER" Guid="{F6A7B8C9-D0E1-4F2A-B3C4-D5E6F7A8B9C0}">
        <File Id="F_Mod_Rebar_JP_T00_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T00.rfa" />
        <File Id="F_Mod_Rebar_JP_T02_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T02.rfa" />
        <File Id="F_Mod_Rebar_JP_T03_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T03.rfa" />
        <File Id="F_Mod_Rebar_JP_T04_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T04.rfa" />
        <File Id="F_Mod_Rebar_JP_T05_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T05.rfa" />
        <File Id="F_Mod_Rebar_JP_T06_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T06.rfa" />
        <File Id="F_Mod_Rebar_JP_T07_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T07.rfa" />
        <File Id="F_Mod_Rebar_JP_T11_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T11.rfa" />
        <File Id="F_Mod_Rebar_JP_T11a_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T11a.rfa" />
        <File Id="F_Mod_Rebar_JP_T12_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T12.rfa" />
        <File Id="F_Mod_Rebar_JP_T13_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T13.rfa" />
        <File Id="F_Mod_Rebar_JP_T14_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T14.rfa" />
        <File Id="F_Mod_Rebar_JP_T15_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T15.rfa" />
        <File Id="F_Mod_Rebar_JP_T16_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T16.rfa" />
        <File Id="F_Mod_Rebar_JP_T17_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T17.rfa" />
        <File Id="F_Mod_Rebar_JP_T20_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T20.rfa" />
        <File Id="F_Mod_Rebar_JP_T21_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T21.rfa" />
        <File Id="F_Mod_Rebar_JP_T22_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T22.rfa" />
        <File Id="F_Mod_Rebar_JP_T23_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T23.rfa" />
        <File Id="F_Mod_Rebar_JP_T24_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T24.rfa" />
        <File Id="F_Mod_Rebar_JP_T25_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T25.rfa" />
        <File Id="F_Mod_Rebar_JP_T26_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T26.rfa" />
        <File Id="F_Mod_Rebar_JP_T27_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T27.rfa" />
        <File Id="F_Mod_Rebar_JP_T28_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T28.rfa" />
        <File Id="F_Mod_Rebar_JP_T29_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T29.rfa" />
        <File Id="F_Mod_Rebar_JP_T31_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T31.rfa" />
        <File Id="F_Mod_Rebar_JP_T32_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T32.rfa" />
        <File Id="F_Mod_Rebar_JP_T34_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T34.rfa" />
        <File Id="F_Mod_Rebar_JP_T35_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T35.rfa" />
        <File Id="F_Mod_Rebar_JP_T36_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T36.rfa" />
        <File Id="F_Mod_Rebar_JP_T38_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T38.rfa" />
        <File Id="F_Mod_Rebar_JP_T41_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T41.rfa" />
        <File Id="F_Mod_Rebar_JP_T44_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T44.rfa" />
        <File Id="F_Mod_Rebar_JP_T46_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T46.rfa" />
        <File Id="F_Mod_Rebar_JP_T47_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T47.rfa" />
        <File Id="F_Mod_Rebar_JP_T48_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T48.rfa" />
        <File Id="F_Mod_Rebar_JP_T49_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T49.rfa" />
        <File Id="F_Mod_Rebar_JP_T51_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T51.rfa" />
        <File Id="F_Mod_Rebar_JP_T63_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T63.rfa" />
        <File Id="F_Mod_Rebar_JP_T67_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T67.rfa" />
        <File Id="F_Mod_Rebar_JP_T68_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T68.rfa" />
        <File Id="F_Mod_Rebar_JP_T75_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T75.rfa" />
        <File Id="F_Mod_Rebar_JP_T80_rfa" Source="..\..\..\KhimTools\Tools\KhimStructural\RebarTool\RebarShapes\JP_T80.rfa" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>